<launch>

  <arg name="log_to_warehouse" default="false" />
  <arg name="use_chomp" default="false" />

  <include file="$(find longhorn_arm_navigation)/launch/longhorn_planning_environment.launch"/>
  
  <param name="warehouse_host" value="prn2.willowgarage.com"/>
  <param name="warehouse_port" value="27021"/>
  <node if="$(arg log_to_warehouse)" name="mongo" type="wrapper.py" pkg="mongodb">
       <param name="overwrite" value="false"/>
       <param name="database_path" value="arm_navigation_dbs/pr2_manip_db"/>
  </node>

  <include file="$(find planning_environment)/launch/environment_server.launch">
    <arg name="use_collision_map" value="false"/>
  </include>

  <include file="$(find longhorn)/launch/openni_try.launch"/>
  
  <include if="$(arg use_chomp)" file="$(find longhorn_arm_navigation)/launch/chomp_planning.launch"/>  
  <include unless="$(arg use_chomp)" file="$(find longhorn_arm_navigation)/launch/ompl_planning.launch"/>  

  <node pkg="trajectory_filter_server" name="trajectory_filter_server" type="trajectory_filter_server" output="screen">
    <rosparam command="load" file="$(find longhorn_arm_navigation)/config/joint_limits.yaml"/>
    <rosparam command="load" file="$(find longhorn_object_manipulation)/config/ompl_filters.yaml"/>
  </node>

  <rosparam command="load" file="$(find longhorn)/cfg/longhorn_hand_descriptions.yaml"/>

  <!--<include file="$(find household_objects_database)/launch/objects_database_remote_client.launch"/-->

  <rosparam command="load" file="$(find longhorn_object_manipulation)/config/localhost.yaml"/>
  <node pkg="household_objects_database" name="objects_database_node" type="objects_database_node" 
  	respawn="true" output="screen">
    <param name="prune_table_clearance" value="-1.0"/>
  </node>

  <include file="$(find pr2_gripper_grasp_planner_cluster)/launch/robotiq_hand_grasp_planner_cluster_server.launch"/>

  <include file="$(find longhorn_object_manipulation)/launch/tabletop_segmentation.launch">
    <arg name="tabletop_segmentation_points_in" value="camera/depth/points"/>
  </include>
  <include file="$(find tabletop_object_detector)/launch/tabletop_object_recognition.launch"/>

</launch>
