<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="suction_gripper">
	<xacro:include filename="$(find freetail_grasp_planning)/urdf/generic_constructs.xacro" />
	<xacro:link_construct link_name="link_1">
		<xacro:inertial_block xyz_vals="0 0 0" rpy_vals="0 0 0" mass="1.0" />
		<xacro:box_visual_block xyz="0 0 0" rpy="0 0 0" size="1 1 4" color_name="Blue" />
		<xacro:box_collision_block xyz="0 0 0" rpy="0 0 0" size="1 1 4" color_name="Yellow" />
	</xacro:link_construct>
	<xacro:link_construct link_name="link_2">
		<xacro:inertial_block xyz_vals="0 0 0" rpy_vals="0 0 0" mass="1.0" />
		<xacro:box_visual_block xyz="0 0 0" rpy="0 0 0" size="4 1 1" color_name="Blue" />
		<xacro:box_collision_block xyz="0 0 0" rpy="0 0 0" size="4 1 1" color_name="Yellow" />
	</xacro:link_construct>
	<xacro:prismatic_joint joint_name="joint_1" parent="link_1" child="link_2" xyz="0 0 4" rpy="0 0 0"
xyz_a="0 0 1" effr="100" vel="1" lw="0.0" up="0.0"/>
</robot>
