<launch>
    <node pkg="move_arm" type="move_arm_simple_action" name="ADEPT_VIPER_S650_move_manipulator">
        <param name="group" type="string" value="ADEPT_VIPER_S650_manipulator" />
        <remap from="arm_ik" to="ADEPT_VIPER_S650_manipulator_kinematics/get_constraint_aware_ik" />
        <param name="controller_action_name" type="string" value="m10iA_manipulator_controller/follow_joint_trajectory" />
    </node>
</launch>
