<?xml version="1.0"?>
<launch>
	<remap from="arm1_handshaking_service" to="ur5_arm/arm_handshaking"/>
	<remap from="arm2_handshaking_service" to="sia20d_arm/arm_handshaking"/>
	<node name="mantis_dual_arm_supervisor" pkg="mantis_object_manipulation" type="concurrent_arm_move_supervisor_node" output="screen">
		<param name="max_cycle_count" value="20"/>
		<param name="max_service_call_attempts" value="4"/>
		<param name="interrupt_cycle" value="false"/>
		<param name="continue_on_cycle_fail" value="false"/>
	</node>
	
</launch>
