<launch>
  <arg name="stereo" default="false" />
  <arg name="use_camera_in_collider" default="true" />

  <!--include file="$(find armadillo_arm_navigation)/$(env ROBOT).machine" /-->
  
  <!-- send additional description parameters -->
  <include file="$(find armadillo_arm_navigation)/launch/armadillo_planning_environment.launch" />

  <!-- Stereo or Kinect processing -->
  <group unless="$(arg stereo)">
    <!-- start the Kinect -->
    <include file="$(find armadillo)/launch/openni.launch"/>

    <group if="$(arg use_camera_in_collider)">
      <!-- self filter Kinect points -->
      <node pkg="robot_self_filter" type="self_filter" respawn="true" name="stereo_self_filter" 
        output="screen">
        <remap from="cloud_in" to="/camera/rgb/points" />
        <remap from="cloud_out" to="/camera/rgb/points_filtered2" />
        <param name="sensor_frame" type="string" value="kinect_rgb_optical_frame" />
        <param name="subsample_value" type="double" value=".02"/>
        <rosparam command="load" file="$(find armadillo)/cfg/self_filter.yaml" />
      </node>
    </group>

    <!-- separate self filter Kinect points for creating object models with higher resolution-->
    <node pkg="robot_self_filter" type="self_filter" respawn="true" name="object_modeling_kinect_self_filter" 
      output="screen">
      <remap from="cloud_in" to="/camera/rgb/points" />
      <remap from="cloud_out" to="/camera/rgb/object_modeling_points_filtered" />
      <param name="sensor_frame" type="string" value="kinect_rgb_optical_frame" />
      <param name="subsample_value" type="double" value=".005"/>
      <rosparam command="load" file="$(find armadillo)/cfg/self_filter.yaml" />
    </node>
  </group>

  <node pkg="collider" type="collider_node" name="collider_node" respawn="true" output="screen">
     <param name="fixed_frame" type="string" value="base_link" />
     <param name="resolution" type="double" value="0.025" />
     <param name="max_range" type="double" value="2.5" />
     <param name="publish_static_over_dynamic_map" value="true" />
     <param name="sensor_model_hit" value= "0.8" />
     <param name="sensor_model_miss" value= "0.31" />
     <param name="sensor_model_min" value= "0.12" />
     <param name="sensor_model_max" value= "0.95" />   

     <remap from="collision_map_out" to="collision_map_occ" />
     <remap from="point_cloud_out" to="octomap_point_cloud" />

     <rosparam command="load" 
       file="$(find armadillo)/cfg/collision_map_sources_kinect.yaml"/>
   
     <!-- self filtering links -->
     <rosparam command="load" file="$(find armadillo)/cfg/self_filter.yaml" /> 
   </node>

  <!-- cluster bounding box finder--> 

  <node name="cluster_bounding_box_finder" pkg="object_manipulator" cwd="node"
    type="cluster_bounding_box_finder_server.py" output="screen" respawn="false" >
	<param name="z_up_frame" value="/base_link" />
  </node>

</launch>
