<?xml version="1.0" ?>
<launch>
	<arg name="arm1_prefix" value="ur5_arm"/>
	<arg name="arm2_prefix" value="sia20d_arm"/>

	<group ns="$(arg arm1_prefix)">
		<node name="mantis_$(arg arm1_prefix)_navigator" pkg="mantis_object_manipulation" 
			type="sort_clutter_arm_node" output="screen">		
			<rosparam command="load" file="$(find mantis_ur5_arm_navigation)/config/mantis_sort_clutter_parameters.yaml"/>
			<rosparam command="load" file="$(find mantis_ur5_arm_navigation)/config/mantis_sort_clutter_zones.yaml"/>
		</node>  
	</group>

	<group ns="$(arg arm2_prefix)">
		<node name="mantis_$(arg arm2_prefix)_navigator" pkg="mantis_object_manipulation" 
			type="sort_clutter_arm_node" output="screen">		
			<rosparam command="load" file="$(find mantis_sia20d_arm_navigation)/config/mantis_sort_clutter_parameters.yaml"/>
			<rosparam command="load" file="$(find mantis_sia20d_arm_navigation)/config/mantis_sort_clutter_zones.yaml"/>
		</node>  
	</group>
</launch>
