<?xml version="1.0" ?>
<launch>
  <include file="$(find openni_launch)/launch/openni.launch">
    <arg name="publish_tf" value="true" />
    <arg name="camera" value="camera" />
    <!--arg name="launch_prefix" default="" /-->
    <arg name="rgb_frame_id" value="/kinect_rgb_optical_frame"/>    
    <arg name="depth_frame_id" value="/kinect_ir_optical_frame"/>
    <arg name="rgb_camera_info_url" value="file://$(find freetail_config)/config/kinect_calibration_rgb.yaml"/>
  </include>
</launch>
