<?xml version="1.0" ?>
<launch>
	<!-- arg name="use_chomp" default="false" /-->
	<node name="freetail_manipulation" pkg="freetail_object_manipulation" type="ball_picking_demo_node" output="screen">
		
		<rosparam command="load" file="$(find freetail_object_manipulation)/config/ball_picking.yaml"/>
		<!-- demo parameters >
		<param name="planner_service_name" value="/path_planning/plan_kinematic_path"/>
		<param name="trajectory_filter_service_name" value="/trajectory_filter_server/filter_trajectory_with_constraints"/>
		<param name="segmentation_service_name" value="/tabletop_segmentation"/>
		<param name="grasp_planning_service_name" value="/plan_point_cluster_grasp"/>	
		<param name="planning_scene_service_name" value="/environment_server/set_planning_scene_diff"/>	
		<param name="arm_inverse_kinematics_plugin" value="SIA20D_Mesh_manipulator_kinematics/IKFastKinematicsPlugin"/>	
		-->
		<!-- param name="arm_inverse_kinematics_plugin" value="longhorn_manipulator_kinematics/IKFastKinematicsPlugin"/-->	

		<!-- sphere segmentation parameters >
		<param name="world_frame_id" value="base_link"/>
		<param name="k_nearest" value="100"/>
		<param name="max_iterations" value="400"/>
		<param name="sac_method" value="6"/> 
		<param name="normal_distance_weight" value="0.2"/>
		<param name="distance_threshold" value="0.0005"/>
		<param name="max_radius" value="0.028"/>
		<param name="min_fitness_score" value="0.12"/>
		<param name="align_to_top_centroid" value="true"/>
		-->
	</node>  
</launch>
