<launch>

  <!--<node pkg="openni_camera" type="openni_node" name="openni_camera"  output="screen" >
    <param name="rgb_frame_id" value="kinect_rgb_optical_frame" />
    <param name="depth_frame_id" value="kinect_ir_optical_frame" />
    <param name="registration_type" value="2" />
    <param name="image_input_format" value="6" />
    <param name="point_cloud_resolution" value="1" />
    <rosparam command="load" file="$(find openni_camera)/info/openni_params.yaml" />
  </node>-->

  <arg name="rgb_camera_info_url" value="file://$(find armadillo)/launch/rgb.yaml"/>
  <arg name="depth_camera_info_url" value=""/>
  <arg name="camera" default="camera" />
  <arg name="launch_prefix" default="" />

  <arg name="device_id"           default="#1"/> <!-- this line uses first enumerated device -->

  <!-- Points topic needs to be routed to rgb namespace -->
  <remap from="$(arg camera)/depth_reg/points" to="$(arg camera)/rgb/points" />
  <!-- Nodelet manager, lives in top-level namespace -->
  <arg name="manager" value="$(arg camera)_nodelet_manager" />
  <node pkg="nodelet" type="nodelet" name="$(arg manager)" args="manager"
        output="screen" launch-prefix="$(arg launch_prefix)" />

  <group ns="$(arg camera)">
  <include file="$(find openni_launch)/launch/includes/device.launch">
      <arg name="manager"               value="/$(arg manager)" /> <!-- Fully resolved -->
      <arg name="device_id"             value="$(arg device_id)"/>
      <arg name="rgb_frame_id"          value="/kinect_rgb_optical_frame" />
      <arg name="depth_frame_id"        value="/kinect_ir_optical_frame" />
      <arg name="rgb_camera_info_url"   value="$(arg rgb_camera_info_url)" />
      <arg name="depth_camera_info_url" value="$(arg depth_camera_info_url)" />
      <arg name="rgb"                   value="rgb" />
      <arg name="ir"                    value="ir" />
      <arg name="depth"                 value="depth" />
      <arg name="depth_registered"      value="depth_reg" />
    </include>
  </group>


</launch>
