<?xml version="1.0" ?>
<launch>
	<!-- fixed parameters -->
	<arg name="arm_namespace" value="sia20d_arm"/>
	<arg name="sensor_name" value="$(arg arm_namespace)_kinect"/>
	<arg name="usb_bus" default="001"/>
	<arg name="usb_device" default="000"/>

	<arg name="remote_machine_ip" value="192.168.32.10"/>
	<arg name="local_machine_ip" value="192.168.32.16"/>


	<node name="test_node" pkg="rostopic" type="rostopic" 
		args="pub string_topic std_msgs/String 'test string' -r 1"/>

	<!-- declaring environment variables -->
	<env name="ROS_MASTER_URI" value="http://$(arg local_machine_ip):11311"/>
	<env name="ROS_IP" value="$(arg local_machine_ip)"/>

	<include file="$(find mantis_perception)/launch/mantis_sensor_asus.launch">
		<arg name="arm_prefix" value="$(arg arm_namespace)_"/>
		<arg name="camera_name" value="$(arg sensor_name)"/>
		<arg name="device_id" value="$(arg usb_bus)@$(arg usb_device)" />
	</include>

	<!--node  machine="sensor_machine" name="test_node" pkg="rostopic" type="rostopic" 
		args="pub string_topic std_msgs/String 'test string' -r 1"/-->
	<!--node name="test_node" pkg="rostopic" type="rostopic" 
		args="pub string_topic std_msgs/String 'test string' -r 1"/-->
</launch>
