<?xml version="1.0" ?>
<launch>
	<!-- input arguments -->
	<arg name="use_chomp" default="true" />
	<arg name="launch_bringup" default="true"/>
	<arg name="sim_only" default="true"/>

	<arg name="sensor_usb_manual_setup" default="false"/>
	<arg name="sensor_usb_bus" default="001"/>
	<arg name="sensor_usb_device" default="002"/>

	<!-- fixed parameters -->
	<arg name="arm_namespace" value="ur5_arm"/>
	<arg name="robot_description" value="$(find xacro)/xacro --inorder '$(find mantis_config)/urdf/mantis_ur5_arm_workspace.xacro'"/>
	<arg name="sensor_name" value="$(arg arm_namespace)_kinect"/>

	<!-- launch bringup -->
	<include if="$(arg launch_bringup)" file="$(find mantis_config)/launch/mantis_ur5_gripper_bringup.launch">
		<arg name="sim_only" value="$(arg sim_only)"/>
	</include>
  <!-- ADD JOINT STATE PUBLISHER HERE WITH USE_GUI:=TRUE -->
<!--	<param name="robot_description"  command="$(arg robot_description)"/>
 <node pkg="robot_state_publisher" name="st_pub" type="state_publisher">
	</node>-->

<!-- SENSOR -->
  <include  file="$(find mantis_perception)/launch/mantis_ur5_sensor.launch">
		<arg name="arm_prefix" value="$(arg arm_namespace)_"/>
		<arg name="camera_name" value="$(arg sensor_name)"/>
		<arg name="publish_tf" value="false" />
  </include>


<group ns="$(arg arm_namespace)">

<!-- SEGMENTATION -->
  <include file="$(find mantis_perception)/launch/mantis_segmentation.launch">
	<arg name="tabletop_segmentation_points_in" 
				value="/$(arg sensor_name)/depth_registered/points"/>
	<arg name="processing_frame" value="workcell_frame"/>
	<arg name="y_filter_min" value="-1.0"/>
	<arg name="y_filter_max" value="0.8"/>
	<arg name="x_filter_min" value="0.5"/>
	<arg name="x_filter_max" value="1.2"/>
  </include>

<!-- recognition -->
	<remap from="/cph_recognition" to ="/$(arg arm_namespace)/cph_recognition"/>
	<node  pkg="mantis_perception" name="cph_recognition" type="cph_recognition" 
		output="screen" args="$(find mantis_perception)/data">
	</node>

	<remap from="/mantis_object_recognition" to ="/$(arg arm_namespace)/mantis_object_recognition"/>
	<node  pkg="mantis_perception" name="mantis_object_recognition" 
		type="mantis_object_recognition" output="screen">
	</node>

</group>
<!-- VISUALIZTION 
  <node name="grasp_planner_test_viz" pkg="rviz" type="rviz" args="-d $(find cluttered_grasp_planner)/launch/test_grasp_planner.vcg"/> 
  </node>-->

</launch>
