<launch>

  <!-- URDF Universal Robot Description File (loaded to parameter server) -->
  <param name="robot_description"  textfile="$(find freetail_config)/urdf/freetail.urdf"/>

  <!-- Start Motoman specific nodes -->
  <node pkg="dx100" type="robot_state" name="robot_state" args="192.168.32.3"/>
  <node pkg="dx100" type="motion_interface" name="motion_interface" args="192.168.32.3"/>
  <node pkg="dx100" type="joint_trajectory_action" name="joint_trajectory_action"/>

  <!-- gripper interface from longhorn -->
  <node pkg="longhorn" type="gripper_interface" name="gripper_interface" args="192.168.32.3"/>

  <!-- Get TF - publish robot and joint states -->
  <node pkg="robot_state_publisher" name="st_pub" type="state_publisher"/>
  <node pkg="joint_state_publisher" name="jt_st_pub" type="joint_state_publisher" >
     <param name="use_gui" value="true"/>
  </node>

</launch>
