<?xml version="1.0" ?>
<launch>
	<node name="test_zone_selector" pkg="mantis_object_manipulation" type="test_zone_selector_node" output="screen">
		<rosparam command="load" file="$(find mantis_object_manipulation)/config/pick_place_zone_parameters.yaml"/>
		<param name="num_objects_in_zone" value="100"/>
		<param name="update_rate" value="0.1"/>
		<param name="test_object_radius" value="0.02"/>
		<rosparam param="ids_used">[1, 2, 3, 4, 6, 8, 10]</rosparam>
	</node>

	<node name="test_zone_selector_visualization" pkg="rviz" type="rviz" args="-d $(find mantis_object_manipulation)/config/viz_test_place_selector.vcg"/>
</launch>
