<?xml version="1.0" ?>
<launch>

  <!-- Get TF -->
<!--  <node pkg="robot_state_publisher" name="st_pub" type="state_publisher"/> -->

  <!-- URDF Universal Robot Description File -->
<!--  <param name="robot_description"  textfile="$(find mantis_config)/urdf/mantis_asus.urdf"/> -->
  <!-- Start kinect -->
  <include file="$(find mantis_perception)/launch/mantis_sensor_asus.launch"/>
  
  <!-- Start segmentation node -->	
  <include file="$(find mantis_perception)/launch/mantis_segmentation_asus.launch">
  </include> 
 
  <!-- Run feature node -->
<!--  <node pkg="mantis_data_collection" name="feature_extraction" type="feature_extraction"/> -->

  <!-- Run data collection node -->
  <node pkg="mantis_data_collection" name="pan360_data_collect" type="pan360_data_collect"/> 

  <!-- Run mesh maker node -->
  <node pkg="mantis_data_collection" name="marker" type="marker" output="screen"/> 

</launch>
