<?xml version='1.0' encoding='ASCII'?>
<launch>
  <include file="$(find longhorn_arm_navigation)/launch/longhorn_planning_environment.launch"/>
  <node pkg="arm_kinematics_constraint_aware" type="arm_kinematics_constraint_aware" name="longhorn_manipulator_kinematics">
    <param name="group" type="string" value="manipulator"/>
    <param name="manipulator/root_name" type="string" value="base_link"/>
    <param name="manipulator/tip_name" type="string" value="palm"/>
    <param name="kinematics_solver" type="string" value="longhorn_manipulator_kinematics/IKFastKinematicsPlugin"/>
  </node>
</launch>
