<?xml version="1.0" ?>
<launch>
  <node name="suction_gripper_grasp_planner" pkg="freetail_grasp_planning" type="GraspPlannerServer" output="screen">
    <rosparam command="load" file="$(find freetail_grasp_planning)/config/overhead_grasp_planner_config.yaml"/>
    <param name="publish_results" type="bool" value="True"/>
  </node>

  <!--node name="suction_gripper_grasp_planner" pkg="pr2_gripper_grasp_planner_cluster" 
    type="point_cluster_grasp_planner_server.py" respawn="false" output="screen">
    <rosparam command="load" file="$(find freetail_grasp_planning)/config/suction_gripper_grasp_config.yaml" />
	<param name="z_up_frame" value="/base_link"/>
  </node-->  
</launch>
