<launch>
    <node pkg="move_arm" type="move_arm_simple_action" name="mantis_ur5_move_ur5_arm">
        <param name="group" type="string" value="ur5_arm" />
        <remap from="arm_ik" to="mantis_ur5_ur5_arm_kinematics/get_constraint_aware_ik" />
        <param name="controller_action_name" type="string" value="ur5_arm_controller/follow_joint_trajectory" />
    </node>
</launch>
