<?xml version="1.0" ?>
<launch>
  <!-- ____________________________ Input Arguments ____________________________  -->
  <arg name="sim_only" default="true"/>
  <arg name="robot_description" default="$(find freetail_config)/urdf/freetail.urdf"/>

  <!-- ____________________________ General Launch ____________________________  -->
  <!-- URDF loaded to parameter server -->
  <param name="robot_description"  textfile="$(arg robot_description)"/>
  <!-- Get TF -->
  <node pkg="robot_state_publisher" name="st_pub" type="state_publisher"/>
  
  <!-- ____________________________ Start Motoman specific nodes ____________________________  -->
  <node unless="$(arg sim_only)" pkg="dx100" type="robot_state" name="robot_state" args="192.168.32.3" output="screen"/>
  <node unless="$(arg sim_only)" pkg="dx100" type="motion_interface" name="motion_interface" args="192.168.32.3" output="screen"/>
  <node unless="$(arg sim_only)" pkg="dx100" type="joint_trajectory_action" name="joint_trajectory_action" output="screen"/>
  
  <!-- gripper interface from longhorn -->
  <!--node unless="sim_only" pkg="longhorn" type="gripper_interface" name="gripper_interface" args="192.168.32.3"/-->

  <!-- __________________________________ Simulation only __________________________________  -->
  <rosparam if="$(arg sim_only)" command="load" file="$(find freetail_config)/config/freetail_joint_trajectory_action_sim.yaml"/>
  <node if="$(arg sim_only)" pkg="dx100" type="joint_trajectory_action" name="joint_trajectory_action" output="screen"/>
  <!--node if="$(arg sim_only)" pkg="joint_trajectory_action" name="joint_trajectory_action" type="joint_trajectory_action" output="screen"/-->
  <node if="$(arg sim_only)" pkg="freetail_config" name="simulated_robot_controller" type="SimulatedController" output="screen"/>
  
  <!-- gripper executer action node -->
  <node if="$(arg sim_only)" pkg="freetail_config" type="GraspExecutionAction" name="gripper_interface" output="screen"/>
 

</launch>
