<?xml version="1.0" ?>
<launch>
	<!-- Loads planning information and robot URDF to parameter server -->
	<include file="$(find freetail_arm_navigation)/launch/freetail_planning_environment.launch"/>

	<!-- Get TF - publish robot and joint states -->
	<node pkg="robot_state_publisher" name="st_pub" type="state_publisher"/>
	<node pkg="joint_state_publisher" name="jt_st_pub" type="joint_state_publisher" >
		<param name="use_gui" value="false"/>
	</node>

	<!--include file="$(find planning_environment)/launch/environment_server.launch">
	<arg name="use_collision_map" value="false"/>
	</include--> 
	
	<!-- sensor setup -->
	<include file="$(find freetail_config)/launch/openni_try.launch"/>

	<!-- recognition setup -->
	<include file="$(find vfh_recognition)/launch/vfh_recognition.launch"/>

	<!-- recognition test -->
	<node pkg="freetail_object_manipulation" name="object_recognition_test" type="test_recognition_node" output="screen">
		<param name="loop_rate" value="0.25"/>
		<param name="pause_node" value="false"/>
		<param name="recognition_service_name" value="/object_recognition"/>
	</node>
</launch>
