<?xml version="1.0" ?>
<launch>
	<!-- ____________________________ Input Arguments ____________________________  -->
	<arg name="sim_only" default="true"/>
	<arg name="controller_ip" default="192.168.32.3"/>
	<arg name="launch_io" default="false"/>

	<!-- ____________________________ Fixed Parameters ____________________________  -->
	<arg name="robot_description" value="$(find xacro)/xacro.py '$(find mantis_config)/urdf/mantis_sia20d_arm_workspace.xacro'"/>
	<arg name="arm_namespace" value="sia20d_arm"/>

	<!-- starting io -->
	<include if="$(arg launch_io)" file="$(find mantis_io)/launch/mantis_io.launch"/>

	<group ns="$(arg arm_namespace)">

		<!-- ____________________________ General Launch ____________________________  -->
		<!-- URDF loaded to parameter server -->
		<param name="robot_description"  command="$(arg robot_description)"/>
		<!-- Get TF -->
		<node pkg="robot_state_publisher" name="st_pub" type="state_publisher"/>

		<!-- ____________________________ Real robot nodes and drivers____________________________  -->
		<group unless="$(arg sim_only)">

			<node pkg="dx100" type="robot_state" name="robot_state" args="$(arg controller_ip)" output="log"/>
			<node pkg="dx100" type="motion_interface" name="motion_interface" args="$(arg controller_ip)" output="log"/>
			<node pkg="dx100" type="joint_trajectory_action" name="joint_trajectory_action" output="log"/>

			<!-- gripper interface -->
			<param name="suction_on_output_channel" value="1"/>
			<param name="suction_check_output_channel" value="0"/>
			<param name="use_sensor_feedback" value="true"/>
			<node name="gripper" pkg="mantis_io" type="suction_gripper" output="screen"/>
			<!--node pkg="object_manipulation_tools" 
				type="grasp_action_service" name="gripper_interface" output="screen"/-->
		</group>

		<!-- __________________________________ Simulation only __________________________________  -->
		<group if="$(arg sim_only)">
			<rosparam command="load" file="$(find mantis_sia20d_arm_navigation)/config/joint_definitions.yaml"/>
			<node pkg="dx100" type="joint_trajectory_action" name="joint_trajectory_action" output="screen"/>
			<node pkg="object_manipulation_tools" name="simulated_robot_controller" type="simulated_robot_controller"
				output="screen"/>

			<!-- gripper executer action node -->
			<node pkg="object_manipulation_tools" type="grasp_action_service" name="gripper_interface" output="screen"/>
		</group>
	 
	</group>
</launch>
