<?xml version="1.0" ?>
<launch>
	
	<!-- ____________________________ Input Arguments ____________________________  -->
	<arg name="sim_only" default="true"/>
	<arg name="controller_ip" default="192.168.32.5"/>
	<arg name="launch_io" default="true"/>

	<!-- ____________________________ Fixed Parameters ____________________________  -->
	<arg name="robot_description" 
		default="$(find xacro)/xacro.py '$(find mantis_config)/urdf/mantis_ur5_arm_workspace.xacro'"/>

	<arg name="arm_namespace" value="ur5_arm"/>

	<!-- starting io -->
	<include unless="$(arg sim_only)" file="$(find mantis_io)/launch/mantis_io.launch"/>

	<group ns="$(arg arm_namespace)">

		<!-- ____________________________ General Launch ____________________________  -->
		<!-- URDF loaded to parameter server -->
		<param name="robot_description"  command="$(arg robot_description)"/>
		<!-- Get TF -->
		<node pkg="robot_state_publisher" name="st_pub" type="state_publisher"/>

		<!-- ____________________________ Real robot nodes and drivers____________________________  -->
		<group unless="$(arg sim_only)">
			<!-- driver -->
			<remap from="/$(arg arm_namespace)/follow_joint_trajectory/status" to="/$(arg arm_namespace)/joint_trajectory_action/status" />
			<remap from="/$(arg arm_namespace)/follow_joint_trajectory/feedback" to="/$(arg arm_namespace)/joint_trajectory_action/feedback" />
			<remap from="/$(arg arm_namespace)/follow_joint_trajectory/result" to="/$(arg arm_namespace)/joint_trajectory_action/result" />
			<remap from="/$(arg arm_namespace)/follow_joint_trajectory/goal" to="/$(arg arm_namespace)/joint_trajectory_action/goal" />
			<remap from="/$(arg arm_namespace)/follow_joint_trajectory/cancel" to="/$(arg arm_namespace)/joint_trajectory_action/cancel" />
			<node unless="$(arg sim_only)" name="ur5_driver" pkg="ur5_driver" 
				type="driver.py" args="192.168.32.5" required="true" output="screen" >
				<param name="prefix" value="$(arg arm_namespace)_"/>
				<param name="prevent_programming" value="false"/>
			</node>

			<!-- TF Buffer Server -->
			<node pkg="tf2_ros" type="buffer_server" name="tf2_buffer_server" output="screen">
				<param name="buffer_size" value="120.0"/>
			</node>

			<!-- gripper interface -->
			<param name="suction_on_output_channel" value="2"/>
			<param name="suction_check_output_channel" value="1"/>
			<param name="use_sensor_feedback" value="false"/>
			<node name="gripper" pkg="mantis_io" type="suction_gripper" output="screen"/>
		</group>

		<!-- __________________________________ Simulation only __________________________________  -->
		<group if="$(arg sim_only)">
			<rosparam command="load" file="$(find mantis_ur5_arm_navigation)/config/joint_definitions.yaml"/>
			<node pkg="object_manipulation_tools" name="simulated_robot_controller"
				type="simulated_robot_controller" output="screen"/>

	  		<node pkg="object_manipulation_tools" name="joint_trajectory_action" type="joint_trajectory_action" output="screen"/>

			<!-- gripper executer action node -->
			<node pkg="object_manipulation_tools" type="grasp_action_service" name="gripper_interface" output="screen"/>
		</group>
	 
	</group>
</launch>
