<?xml version="1.0" ?>
<launch>
	<!-- ____________________________ Input Arguments ____________________________  -->
	<arg name="sim_only" default="true"/>
	<arg name="controller_ip" default="192.168.32.3"/>

	<!-- ____________________________ Fixed Parameters ____________________________  -->
	<arg name="robot_description" value="$(find mantis_config)/urdf/mantis_sia20d.urdf"/>
	<arg name="arm_namespace" value="sia20d_arm"/>

	<group ns="$(arg arm_namespace)">

		<!-- ____________________________ General Launch ____________________________  -->
		<!-- URDF loaded to parameter server -->
		<param name="robot_description"  textfile="$(arg robot_description)"/>
		<!-- Get TF -->
		<node pkg="robot_state_publisher" name="st_pub" type="state_publisher"/>

		<!-- ____________________________ Start Motoman specific nodes ____________________________  -->
		<node unless="$(arg sim_only)" pkg="dx100" type="robot_state" name="robot_state" args="$(arg controller_ip)" output="screen"/>
		<node unless="$(arg sim_only)" pkg="dx100" type="motion_interface" 
			name="motion_interface" args="$(arg controller_ip)" output="screen"/>
		<node unless="$(arg sim_only)" pkg="dx100" type="joint_trajectory_action" name="joint_trajectory_action" output="screen"/>

		<!-- gripper interface -->
		<include unless="$(arg sim_only)" file="$(find mantis_io)/launch/mantis_io.launch"/>

		<!-- __________________________________ Simulation only __________________________________  -->
		<rosparam if="$(arg sim_only)" command="load" file="$(find mantis_sia20d_arm_navigation)/config/joint_definitions.yaml"/>
		<node if="$(arg sim_only)" pkg="dx100" type="joint_trajectory_action" name="joint_trajectory_action" output="screen"/>
		<node if="$(arg sim_only)" pkg="object_manipulation_tools" name="simulated_robot_controller" type="simulated_robot_controller" 			
			output="screen"/>

		<!-- gripper executer action node -->
		<node if="$(arg sim_only)" pkg="object_manipulation_tools" type="grasp_action_service" name="gripper_interface" output="screen"/>
	 
	</group>
</launch>
