<?xml version="1.0" ?>
<launch>

<!-- input arguments -->
  <arg name="use_chomp" default="true" />
  <arg name="use_custom_segmentation" default="true"/>
  <!--arg name="sim_only" default="true"/-->

<!-- fixed parameters -->
  <arg name="robot_description" value="$(find mantis_config)/urdf/mantis.urdf"/>

<!-- camera sensor setup -->
  <include file="$(find mantis_perception)/launch/mantis_sensor.launch"/>

<!-- planning enviroment parameter setup-->
  <include file="$(find mantis_arm_navigation)/launch/mantis_planning_environment_setup.launch">
	<arg name="robot_description" value="$(arg robot_description)"/>
	<arg name="planning_description" value="$(find mantis_arm_navigation)/config/mantis_planning_description.yaml"/>
  </include>	

<!-- planning environment server start -->
  <include file="$(find planning_environment)/launch/environment_server.launch">
    <arg name="use_collision_map" value="false"/>
  </include>  
  
<!-- path planner -->
  <!-- if chomp was selected -->
  <remap if="$(arg use_chomp)" from="/chomp_planner_longrange/plan_path" to="/path_planning/plan_kinematic_path"/>
  <include if="$(arg use_chomp)" file="$(find mantis_arm_navigation)/launch/chomp_planning.launch"/>

   <!-- if ompl was selected -->
  <remap unless="$(arg use_chomp)" from="/ompl_planning/plan_kinematic_path" to="/path_planning/plan_kinematic_path"/>
  <include unless="$(arg use_chomp)" file="$(find mantis_arm_navigation)/launch/ompl_planning.launch"/> 

<!-- trajectory filter -->
  <node pkg="trajectory_filter_server" name="trajectory_filter_server" type="trajectory_filter_server" output="screen">
    <rosparam command="load" file="$(find mantis_arm_navigation)/config/joint_limits.yaml"/>
    <rosparam unless="$(arg use_chomp)" command="load" file="$(find mantis_arm_navigation)/config/ompl_filters.yaml"/>
    <rosparam if="$(arg use_chomp)" command="load" file="$(find mantis_arm_navigation)/config/chomp_filters.yaml"/>
  </node>

<!-- grasp planner -->
  <rosparam command="load" file="$(find mantis_grasp_planning)/config/vacuum_gripper_description_parameters.yaml"/>
  <include file="$(find mantis_grasp_planning)/launch/vacuum_gripper_grasp_planner_server.launch"/>

<!-- segmentation -->
  <include if="$(arg use_custom_segmentation)" file="$(find mantis_perception)/launch/mantis_segmentation.launch">
    <arg name="tabletop_segmentation_points_in" value="camera/depth_registered/points"/>
  </include>

  <include  unless="$(arg use_custom_segmentation)" 
			file="$(find mantis_perception)/launch/tabletop_segmentation.launch">
			<arg name="tabletop_segmentation_points_in" 
				value="camera/depth_registered/points"/>
  </include>

<!-- recognition -->
  <node pkg="mantis_perception" name="cph_recognition" type="cph_recognition" 
	output="screen" args="$(find mantis_perception)/data">
  </node>
  <node pkg="mantis_perception" name="mantis_object_recognition" type="mantis_object_recognition" output="screen">
  </node>

</launch>
