<?xml version="1.0" ?>
<robot name="freetail" xmlns:xacro="http://ros.org/wiki/xacro">
	<include filename="$(find motoman_config)/cfg/sia20d_mesh_macro.xacro" />
	<include filename="$(find robotiq_s_model_visualization)/cfg/s-model_mesh_macro.xacro" />
	<xacro:sia20d_mesh prefix=""/>
	<xacro:s-model_mesh prefix=""/>
  <!-- link list -->
		<link name="coupler">
			<visual>
				<geometry>
					<mesh filename="package://longhorn/meshes/coupler/visual/COUPLER.stl" />
				</geometry>
				<material name="orange">
					<color rgba="1 0.5 0 1"/>
				</material>
			</visual>
			<collision>
				<geometry>
					<mesh filename="package://longhorn/meshes/coupler/collision/COUPLER.stl" />
				</geometry>
				<material name="yellow">
					<color rgba="0 1 1 1"/>
				</material>
			</collision>
		</link>
  <!-- end link list -->
  <!-- joint list -->
		<joint name="tool-coupler" type="fixed">
			<parent link="link_t"/>
			<child link="coupler"/>
			<origin xyz="0 0 0" rpy="1.570 0 0"/>
		</joint>
		<joint name="coupler-hand" type="fixed">
			<parent link="coupler"/>
			<child link="palm"/>
			<origin xyz="0 0.240 0" rpy="-1.570 -2.356 0"/>
		</joint>
  <!-- end of joint list -->


  <!-- environment list -->
		<link name="table">
			<visual>
				<geometry>
					<box size="1.83 2.44 0.25"/>
				</geometry>
				<material name="">
					<color rgba="1 0 1 1"/>
				</material>
			</visual>
      <collision>
				<geometry>
					<box size="1.83 2.44 0.25"/>
				</geometry>
				<material name="">
					<color rgba="1 0 1 1"/>
				</material>
			</collision>
		</link>
		<link name="table_keepout_1">
			<collision>
				<geometry>
					<box size="2.08 0.25 2"/>
				</geometry>
				<material name="">
					<color rgba="1 0.2 1 0.1"/>
				</material>
			</collision>
		</link>
		<link name="table_keepout_2">
			<collision>
				<geometry>
					<box size="0.25 2.69 2"/>
				</geometry>
				<material name="">
					<color rgba="1 0.2 1 0.1"/>
				</material>
			</collision>
		</link>
		<link name="abb_keepout">
			<collision>
				<geometry>
					<box size="0.915 1.524 2"/>
				</geometry>
				<material name="">
					<color rgba="1 0.2 1 0.1"/>
				</material>
			</collision>
		</link>
		<link name="power_supply">
			<visual>
				<geometry>
					<box size="0.400 0.250 0.115"/>
				</geometry>
				<material name="">
					<color rgba="1 0.2 1 0.1"/>
				</material>
			</visual>
			<collision>
				<geometry>
					<box size="0.400 0.250 0.115"/>
				</geometry>
				<material name="">
					<color rgba="1 0.2 1 0.1"/>
				</material>
			</collision>
		</link>
		<link name="kinect_keepout">
			<collision>
				<geometry>
					<box size="0.25 2.69 2"/>
				</geometry>
				<material name="">
					<color rgba="1 0.2 1 0.1"/>
				</material>
			</collision>
		</link>
    		<link name="kinect">
			<collision>
				<geometry>
					<box size="0.36 0.28 0.22"/>
				</geometry>
				<material name="">
					<color rgba="1 0.8 1 0.1"/>
				</material>
			</collision>
		</link>
		<joint name="base-table" type="fixed">
			<parent link="base_link"/>
			<child link="table"/>
			<origin xyz="1.19 0.22 -0.125" rpy="0 0 -0.785"/>
		</joint>
		<joint name="base-kinect" type="fixed">
			<parent link="base_link"/>
			<child link="kinect"/>
			<origin rpy="0 0.5235 2.356" xyz="1.08 -0.72 0.82"/>
		</joint>
		<joint name="table-keepout_1" type="fixed">
			<parent link="table"/>
			<child link="table_keepout_1"/>
			<origin xyz="0 -1.34 1" rpy="0 0 0"/>
		</joint>
		<joint name="table-keepout_2" type="fixed">
			<parent link="table"/>
			<child link="table_keepout_2"/>
			<origin xyz="-1.025 0 1" rpy="0 0 0"/>
		</joint>
		<joint name="abb-keepout" type="fixed">
			<parent link="table"/>
			<child link="abb_keepout"/>
			<origin xyz="0.475 0.458 1.125" rpy="0 0 0"/>
		</joint>
		<joint name="base-power_supply" type="fixed">
			<parent link="base_link"/>
			<child link="power_supply"/>
			<origin xyz="0 -0.260 0.050" rpy="0 0 0"/>
		</joint>
		<joint name="table-kinect" type="fixed">
			<parent link="table"/>
			<child link="kinect_keepout"/>
			<origin xyz=".5 0 1" rpy="0 0 0"/>
		</joint>
  <!-- end environment list -->

  <!-- kinect -->
		<joint name="kinect_frame_joint" type="fixed">
			<parent link="kinect"/>
			<child link="kinect_frame"/>
			<origin rpy="0 0 0" xyz="0 0 0"/>
		</joint>
		<link name="kinect_frame">
			<visual>
				<origin rpy="0 0 0" xyz="0 0 0"/>
				<geometry>
					<box size="0.064 0.28 0.04"/>
				</geometry>
				<material name="silver"/>
			</visual>
			<collision>
				<origin rpy="0 0 0" xyz="0 0 0"/>
				<geometry>
					<box size="0.064 0.28 0.04"/>
				</geometry>
			</collision>
		</link>
		<joint name="kinect_ir_joint" type="fixed">
			<parent link="kinect_frame"/>
			<child link="kinect_ir_link"/>
			<origin rpy="0 0 0" xyz="0 0 0"/>
		</joint>
		<link name="kinect_ir_link">
			<visual>
				<origin rpy="0 0 0" xyz="0 0 0"/>
				<geometry>
					<sphere radius="0.0005"/>
				</geometry>
			</visual>
		</link>
		<joint name="kinect_ir_optical_frame_joint" type="fixed">
			<parent link="kinect_ir_link"/>
			<child link="kinect_ir_optical_frame"/>
			<origin rpy="-1.57 0 -1.57" xyz="0 0 0"/>
		</joint>
		<link name="kinect_ir_optical_frame"/>
		<joint name="kinect_rgb_joint" type="fixed">
			<parent link="kinect_ir_link"/>
			<child link="kinect_rgb_link"/>
			<origin rpy="0 0 0" xyz="0 -0.03 0"/>
		</joint>
		<link name="kinect_rgb_link">
			<visual>
				<origin rpy="0 0 0" xyz="0 0 0"/>
				<geometry>
					<sphere radius="0.0005"/>
				</geometry>
			</visual>
		</link>
		<joint name="kinect_rgb_optical_frame_joint" type="fixed">
			<parent link="kinect_rgb_link"/>
			<child link="kinect_rgb_optical_frame"/>
			<origin rpy="-1.57 0 -1.57" xyz="0 0 0"/>
		</joint>
		<link name="kinect_rgb_optical_frame"/>
  <!-- end kinect -->

</robot>
