<?xml version="1.0" ?>
<launch>
	<!-- fixed parameters -->
	<arg name="arm1_prefix" value="ur5"/>
	<arg name="arm2_prefix" value="sia20d"/>
	
	<!--node pkg="rosbag" type="record" name="record_kinect_$(arg arm1_prefix)_data" 
		args="-l 1000 -b 1024 -j -O $(find mantis_perception)/bags/$(arg arm1_prefix)_sensor_data.bag 
			/$(arg arm1_prefix)_arm_kinect/depth_registered/points" 
		output="screen"/>

	<node pkg="rosbag" type="record" name="record_kinect_$(arg arm2_prefix)_data" 
		args="-l 1000 -b 1024 -j -O $(find mantis_perception)/bags/$(arg arm2_prefix)_sensor_data.bag 
			/$(arg arm2_prefix)_arm_kinect/depth_registered/points" 
		output="screen"/>

	<node pkg="rosbag" type="record" name="record_kinect_tf_data" 
		args="-l 100 -O $(find mantis_perception)/bags/tf_data.bag 
			/tf" 
		output="screen"/-->

	<node pkg="rosbag" type="record" name="record_kinect_all_data" 
		args="-l 200 -b 1024 --output-name=$(find mantis_perception)/bags/recorded_sensor_data_uncompressed.bag
			/$(arg arm1_prefix)_arm_kinect/depth_registered/points 
			/$(arg arm2_prefix)_arm_kinect/depth_registered/points
			/tf" 
	output="screen"/>
</launch>
