<launch>

  <include file="$(find calibration_launch)/capture_data/chain_settler.launch" ns="arm_chain" />
  <include file="$(find calibration_launch)/capture_data/kinect_pipeline.launch" ns="camera/rgb" />

  <node type="interval_intersection_action"
        pkg="interval_intersection"
        name="interval_intersection"
        output="screen">
    <remap from="arm_chain" to="arm_chain/settled_interval" />
    <remap from="kinect_camera" to="camera/rgb/settled_interval" />
    <remap from="interval" to="request_interval" />
  </node>

</launch>
