<?xml version="1.0" ?>
<launch>
	<!--arg name="publish_results" default="True"/>
	<arg name="x_filter_min" default="-1.1"/>
	<arg name="x_filter_max" default="-0.6"/>
	<arg name="y_filter_min" default="-0.6"/>
	<arg name="y_filter_max" default="0.6"/-->
	<arg name="publish_results" default="True"/>
	<arg name="x_filter_min" default="-4.0"/>
	<arg name="x_filter_max" default="4.0"/>
	<arg name="y_filter_min" default="-4.0"/>
	<arg name="y_filter_max" default="4.0"/>
	<node name="vacuum_gripper_grasp_planner" pkg="cluttered_grasp_planner" type="cluttered_grasp_planner_server" output="screen">
		<rosparam command="load" file="$(find mantis_grasp_planning)/config/overhead_grasp_planner_parameters.yaml"/>
		<param name="publish_results" value="$(arg publish_results)"/>
		<param name="x_filter_min" value="$(arg x_filter_min)"/>
		<param name="x_filter_max" value="$(arg x_filter_max)"/>
		<param name="y_filter_min" value="$(arg y_filter_min)"/>
		<param name="y_filter_max" value="$(arg y_filter_max)"/>
	</node> 
</launch>
