<?xml version="1.0" ?>
<launch>
	<!-- input arguments -->
	<arg name="sim_only" default="true"/>

	<include file="$(find mantis_config)/launch/mantis_ur5_sort_clutter_setup.launch">
		<arg name="launch_bringup" value="true"/>
		<arg name="sim_only" value="$(arg sim_only)"/>
		<arg name="sensor_usb_manual_setup" value="true"/>
	</include>

	<include file="$(find mantis_config)/launch/mantis_sia20d_sort_clutter_setup.launch">
		<arg name="launch_bringup" value="true"/>
		<arg name="sim_only" value="$(arg sim_only)"/>
		<arg name="sensor_usb_manual_setup" value="true"/>
	</include>
</launch>
