<?xml version="1.0" ?>
<robot name="mantis_sia20d" xmlns:xacro="http://ros.org/wiki/xacro">
	<include filename="$(find mantis_config)/urdf/sia20d_mesh_macro.xacro"/>
	<!--include filename="$(find mantis_config)/urdf/vacuum_gripper.xacro"/-->
	<include filename="$(find mantis_config)/urdf/vacuum_gripper_macro.xacro"/>
	<include filename="$(find mantis_config)/urdf/mantis_workspace_components.xacro"/>
	<include filename="$(find mantis_config)/urdf/mantis_sensor_macro.xacro"/>

	<!-- property list -->
	<xacro:property name="workcell_height" value="1"/>
	<xacro:property name="coupler_height" value="0.087"/>
	<xacro:property name="arm_prefix" value="sia20d_arm_"/>
	<xacro:property name="arm_name" value="sia20d"/>
	<xacro:property name="coupler_height" value="0.087"/>
	<xacro:property name="temp_base_offset" value="0.0"/>
	
	<!-- instantiating workcell definitions -->
	<xacro:workcell_zone1_components/>
	<!-- end of workcell definitions -->

	<!-- instantiating sensor definitions -->
	<!--xacro:sensor_definitions prefix="${arm_prefix}" parent_link="workcell_frame" 
		x_val="1.20" y_val="0" z_val="0.4" pitch="0.5235" yaw="3.147"/
		rpy="0.06+0.06 1.19 3.19+0.06" xyz="1.15-.16 -0.01 1.42+.16"-->
	<xacro:sensor_definitions prefix="${arm_prefix}" parent_link="${arm_prefix}base_link" 
		x_val="0.97" y_val="-0.09" z_val="1.26" roll="0.05" pitch="1.08" yaw="3.15"/>
	<!-- end of sensor definitions -->

	<!-- instantiating arm and gripper -->	
	<xacro:vacuum_gripper_definition prefix="${arm_prefix}"/>
	<xacro:sia20d_mesh prefix="${arm_prefix}"/>

	<!-- arm-workcell joint definitions -->
	<joint name="${arm_name}_to_workcell" type="fixed">
		<parent link="workcell_frame"/>
		<child link="${arm_prefix}base_link"/>
		<origin xyz="0.241 0 ${temp_base_offset}" rpy="0 0 0"/>
	</joint>
		
	<!-- end of arm workcell joint definitions-->

	<!-- arm-gripper coupling link definitions-->
	<link name="${arm_prefix}coupler">
		<visual>
			<geometry>
				<mesh filename="package://longhorn/meshes/coupler/visual/COUPLER.stl" />
			</geometry>
			<material name="orange">
				<color rgba="1 0.5 0 1"/>
			</material>
		</visual>
		<collision>
			<geometry>
				<mesh filename="package://longhorn/meshes/coupler/collision/COUPLER.stl" />
			</geometry>
			<material name="yellow">
				<color rgba="0 1 1 1"/>
			</material>
		</collision>
	</link>
	<!-- end of arm-gripper coupling link definitions -->	

	<!-- arm-gripper coupling joint definitions -->
	<!--joint name="tool-coupler" type="fixed"-->
	<joint name="${arm_prefix}wrist_to_coupler" type="fixed">
		<parent link="${arm_prefix}link_t"/>
		<child link="${arm_prefix}coupler"/>
		<origin xyz="0 0 0" rpy="1.570 0 -0.785"/>
	</joint>
	<!--joint name="coupler-hand" type="fixed"-->
	<joint name="${arm_prefix}coupler_to_gripper" type="fixed">
		<parent link="${arm_prefix}coupler"/>
		<child link="${arm_prefix}gripper_frame"/>
		<!--child link="${arm_prefix}palm"/-->
		<origin xyz="0 ${coupler_height} 0" rpy="-1.570 3.14 0"/>
		<!--origin xyz="0 0.182 0.036" rpy="-1.570 0 0"/-->
	</joint>
	<!-- end of arm-gripper coupling joint definitions -->

</robot>
