<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
	<xacro:macro name="vacuum_gripper" params="prefix">
		<link name="${prefix}palm">
			<visual>
				<origin xyz="0 0.036 -0.0473" rpy="0 0 0"/>
				<geometry>
					<box size="0.044 0.088 0.0946"/>
				</geometry>
				<material name="another_blue1">
					<color rgba="0.40 0.40 0.80 1"/>
				</material>
			</visual>
			<collision>
				<origin xyz="0 0.036 -0.0473" rpy="0 0 0"/>
				<geometry>
					<box size="0.044 0.088 0.0946"/>
				</geometry>
				<material name="another_blue2">
					<color rgba="0.38 0.54 0.83 1"/>
				</material>
			</collision>
		</link>
	</xacro:macro>
</robot>
