<?xml version="1.0" ?>
<launch>

	<!-- Instructions >
		The recognition node uses the tabletop segmentation and the sensor data with 
		a fixed configuration.  Thus, the following launch files must be called first:
			- {mantis_config pkg}/launch/mantis_motoman_vacuum_bringup.launch
			- {mantis_config pkg}/launch/mantis_motoman_vacuum_bringup.launch
		see below for sintax needed to run these files.
		
		<include file="$(find mantis_config)/launch/mantis_motoman_vacuum_bringup.launch"/>
		<include file="$(find mantis_config)/launch/mantis_pick_place_setup.launch"/>
	< end of instructions -->
	
	<node name="template_recognition_test_viz" pkg="rviz" type="rviz"
 args="-d $(find mantis_perception)/config/template_recognition_test_viz.vcg"/>

	<node name="test_cluster_recognition" pkg="mantis_perception" type="test_cluster_recognition" output="screen">		
		<param name="world_frame" value="/base_link"/>
		<param name="sensor_frame" value="/camera_link"/>
		<param name="normal_radius" value="0.01"/>
		<param name="feature_radius" value="0.01"/>
		<param name="min_sample_distance" value="0.001"/>
		<param name="max_correspondance_distance" value="0.0004"/>
		<param name="max_iterations" value="800"/>
		<param name="perform_downsampling" value="True"/>
		<param name="voxel_side" value="0.002"/>
		<param name="use_template_as_target" value="False"/>
		<param name="template_index" value="0"/>
		<param name="templates_directory" value="$(find mantis_perception)/data/meshes/sampled_parts"/>
		<rosparam 
			param="template_files">[elec_enclosure_surface.pcd, pvc_elbow_surface.pcd, rubber_coupler_clamps_surface.pcd, pvc_t_surface.pcd, white_plug_surface.pcd]
                </rosparam>
	</node>
</launch>
