<?xml version="1.0" ?>
<launch>
  <node name="vacuum_gripper_grasp_planner" pkg="cluttered_grasp_planner" type="cluttered_grasp_planner_server" output="screen">
    <rosparam command="load" file="$(find mantis_grasp_planning)/config/overhead_grasp_planner_parameters.yaml"/>
    <param name="publish_results" type="bool" value="True"/>
    <param name="x_filter_min" value="0.6"/>
    <param name="x_filter_max" value="1.2"/>
    <param name="y_filter_min" value="-0.8"/>
    <param name="y_filter_max" value="0.8"/>
  </node> 
</launch>
