<?xml version="1.0" ?>
<launch>	
	<!-- fixed parameters -->
	<arg name="arm1_prefix" value="ur5"/>
	<arg name="arm1_namespace" value="ur5_arm"/>
	<arg name="sensor1_name" value="$(arg arm1_namespace)_kinect"/>
	<arg name="sensor1_id" value="002@000"/>

	<arg name="arm2_prefix" value="sia20d"/>
	<arg name="arm2_namespace" value="sia20d_arm"/>
	<arg name="sensor2_name" value="$(arg arm2_namespace)_kinect"/>
	<arg name="sensor2_id" value="001@000"/>

	<!--arm 1 state pub-->
	<group ns="$(arg arm1_namespace)">
		<param name="robot_description"  command="$(find xacro)/xacro.py '$(find mantis_config)/urdf/mantis_ur5_arm_workspace.xacro'"/>
		<node pkg="robot_state_publisher" name="st_pub" type="state_publisher"/>
	</group>

	<!-- sensor 1-->
	<remap from="/$(arg sensor1_name)/depth/points"
		to="/$(arg arm1_namespace)/camera/depth_registered/points"/>
	<include  file="$(find mantis_perception)/launch/mantis_$(arg arm1_prefix)_sensor.launch">
		<arg name="arm_prefix" value="$(arg arm1_namespace)_"/>
		<arg name="camera_name" value="$(arg sensor1_name)"/>
		<arg name="publish_tf" value="false" />
		<arg name="device_id" value="$(arg sensor1_id)" />
	</include>

	<!--arm 2 state pub-->
	<group ns="$(arg arm2_namespace)">
		<param name="robot_description"  command="$(find xacro)/xacro.py '$(find mantis_config)/urdf/mantis_sia20d_arm_workspace.xacro'"/>
		<node pkg="robot_state_publisher" name="st_pub" type="state_publisher"/>
	</group> 

	<!-- sensor 2-->
	<remap from="/$(arg sensor2_name)/depth/points"
		to="/$(arg arm2_namespace)/camera/depth_registered/points"/>
	<include  file="$(find mantis_perception)/launch/mantis_$(arg arm2_prefix)_sensor.launch">
		<arg name="arm_prefix" value="$(arg arm2_namespace)_"/>
		<arg name="camera_name" value="$(arg sensor2_name)"/>
		<arg name="publish_tf" value="false" />
		<arg name="device_id" value="$(arg sensor2_id)" />
	</include> 
</launch>
