<launch>

    <!-- Sends urdf to param server -->
    <arg name="calibrated" default="true" />

    <group unless="$(arg calibrated)">
      <param name="robot_description" command="$(find xacro)/xacro.py '$(find armadillo)/cfg/armadillo.xacro'" />
    </group>

    <group if="$(arg calibrated)">
      <param name="robot_description" textfile="$(find armadillo)/cfg/robot_calibrated_2012_01_24_14_24.xml" />
    </group>

</launch>
