<launch>
    <node pkg="move_arm" type="move_arm_simple_action" name="mantis_ur5_move_ur5_gripper">
        <param name="group" type="string" value="ur5_gripper" />
        <remap from="arm_ik" to="mantis_ur5_ur5_gripper_kinematics/get_constraint_aware_ik" />
        <param name="controller_action_name" type="string" value="ur5_gripper_controller/follow_joint_trajectory" />
    </node>
</launch>
