<?xml version="1.0" ?>
<launch>

<!-- input arguments -->
  <arg name="log_to_warehouse" default="false" />
  <arg name="use_chomp" default="false" />
  <arg name="use_vfh_recognition" default="false"/>
  <arg name="use_overhead_grasp_planner" default="false"/>

<!-- general setup -->  
  <param name="warehouse_host" value="prn2.willowgarage.com"/>
  <param name="warehouse_port" value="27021"/>
  <node if="$(arg log_to_warehouse)" name="mongo" type="wrapper.py" pkg="mongodb">
       <param name="overwrite" value="false"/>
       <param name="database_path" value="arm_navigation_dbs/pr2_manip_db"/>
  </node>

<!-- sensor setup -->
  <include file="$(find freetail_config)/launch/openni_try.launch"/>

<!-- planning enviroment parameter setup-->
  <include file="$(find freetail_arm_navigation)/launch/freetail_planning_environment_setup.launch"/>	

<!-- planning environment server start -->
  <include file="$(find planning_environment)/launch/environment_server.launch">
    <arg name="use_collision_map" value="false"/>
  </include>  
  
<!-- path planner -->
  <!-- if chomp was selected -->
  <remap if="$(arg use_chomp)" from="/chomp_planner_longrange/plan_path" to="/path_planning/plan_kinematic_path"/>
  <include if="$(arg use_chomp)" file="$(find freetail_config)/launch/chomp_planning.launch"/>

  <!-- if ompl was selected -->
  <remap unless="$(arg use_chomp)" from="/ompl_planning/plan_kinematic_path" to="/path_planning/plan_kinematic_path"/>
  <include unless="$(arg use_chomp)" file="$(find freetail_config)/launch/ompl_planning.launch"/>  

<!-- trajectory filter -->
  <node pkg="trajectory_filter_server" name="trajectory_filter_server" type="trajectory_filter_server" output="screen">
    <rosparam command="load" file="$(find freetail_arm_navigation)/config/joint_limits.yaml"/>
    <rosparam unless="$(arg use_chomp)" command="load" file="$(find freetail_object_manipulation)/config/ompl_filters.yaml"/>
    <rosparam if="$(arg use_chomp)" command="load" file="$(find freetail_object_manipulation)/config/filters.yaml"/>
  </node>

<!-- grasp planner -->
  <!-- hand description parameters are used by the grasp tester during evaluation of candidate grasps -->
  <rosparam command="load" file="$(find freetail_config)/config/freetail_hand_descriptions.yaml"/>

  <include unless="$(arg use_overhead_grasp_planner)" file="$(find freetail_grasp_planning)/launch/robotiq_hand_grasp_planner_cluster_server.launch"/>
  <include if="$(arg use_overhead_grasp_planner)" file="$(find freetail_grasp_planning)/launch/suction_gripper_grasp_planner_server.launch"/>

<!-- object database -->
  <rosparam command="load" file="$(find freetail_object_manipulation)/config/localhost.yaml"/>
  <node pkg="household_objects_database" name="objects_database_node" type="objects_database_node" 
  	respawn="true" output="screen">
    <param name="prune_table_clearance" value="-1.0"/>
  </node>

<!-- object recognition -->
  <include if="$(arg use_vfh_recognition)" file="$(find vfh_recognition)/launch/vfh_recognition.launch"/>  

<!-- table top recognition expects the household objects database to be active -->
  <include unless="$(arg use_vfh_recognition)" file="$(find tabletop_object_detector)/launch/tabletop_object_recognition.launch"/>
  <!--include unless="$(arg use_vfh_recognition)" file="$(find household_objects_database)/launch/objects_database_remote_client.launch"/-->

<!-- segmentation -->
  <include file="$(find freetail_object_manipulation)/launch/tabletop_segmentation.launch">
    <arg name="tabletop_segmentation_points_in" value="camera/depth_registered/points"/>
  </include>

</launch>
