<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
	<xacro:macro name="vacuum_gripper" params="prefix">
		<link name="${prefix}palm">
			<visual>
				<origin xyz="0 0.036 -0.1" rpy="0 0 0"/>
				<geometry>
					<mesh filename="package://mantis_config/config/meshes/vacuum_gripper.STL" />
				</geometry>
				<material name="silver">
					<color rgba="0.8 0.8 0.8 1"/>
				</material>
			</visual>
			<collision>
				<origin xyz="0 0.036 -0.1" rpy="0 0 0"/>
				<geometry>
					<mesh filename="package://mantis_config/config/meshes/vacuum_gripper.stl" />
				</geometry>
				<material name="another_blue2">
					<color rgba="0.38 0.54 0.83 1"/>
				</material>
			</collision>
		</link>
	</xacro:macro>
</robot>
