<launch>

  <!-- URDF -->
  <include file="$(find armadillo)/launch/upload.launch" />

  
  <!-- Start Motoman specific nodes -->
  <node pkg="dx100" type="robot_state" name="robot_state"/>
  <node pkg="dx100" type="motion_interface" name="motion_interface"/>
  <node pkg="dx100" type="joint_trajectory_action" name="joint_trajectory_action"/>
  
  <!-- Start Armadillo specific nodes -->
  <node pkg="armadillo" type="gripper_interface" name="gripper_interface"/>

  <!-- Get TF -->
  <node pkg="robot_state_publisher" name="st_pub" type="state_publisher"/>

</launch>
