<?xml version="1.0" ?>
<launch>
	<include file="$(find openni_launch)/launch/openni.launch"/>
	<include file="$(find freetail_grasp_planning)/launch/suction_gripper_grasp_planner_server.launch"/>
	<remap from="/cloud_in" to="/camera/depth/points"/>
	<node name="test_overhead_grasp_planner" pkg="freetail_grasp_planning" type="TestOverheadGraspPlanner" output="screen">
		<param name="world_frame_id" value="/camera_link"/>
		<param name="cluster_frame_id" value="/cluster"/>
	</node>
	<node name="grasp_planner_test_viz" pkg="rviz" type="rviz"
		args="-d $(find freetail_grasp_planning)/config/Test_Grasp_Planner.vcg"/>
</launch>
