<launch>
    <include file="$(find mantis_sia20d_arm_navigation)/launch/mantis_sia20d_planning_environment.launch" />
    <node pkg="arm_kinematics_constraint_aware" type="arm_kinematics_constraint_aware" name="mantis_sia20d_sia20d_arm_kinematics">
        <param name="group" type="string" value="sia20d_arm" />
        <param name="sia20d_arm/root_name" type="string" value="sia20d_arm/base_link" />
        <param name="sia20d_arm/tip_name" type="string" value="sia20d_arm/link_t" />
        <param name="kinematics_solver" type="string" value="arm_kinematics_constraint_aware/KDLArmKinematicsPlugin" />
    </node>
</launch>
